1. What are data structures, and why are they important?

Answer Data structures are ways to organize and store data so it can be used efficiently. Examples include arrays, lists, stacks, queues, and trees.

They are important because they help programs run faster, use less memory, and solve problems more easily—like finding, sorting, or updating information.

2. Mutable data types can be changed after they’re created. Immutable data types cannot be changed once created.

Answer Mutable data types can be changed after they’re created. Immutable data types cannot be changed once created.
Example-
Mutable  
my_list = [1, 2, 3]  
my_list.append(4)  # Now it's [1, 2, 3, 4]

Immutable
my_str = "hello"  
my_str[0] = "H"  # Error! Strings can't be changed

3. What are the main differences between lists and tuples in Python?

Answer Simple comparison between **lists** and **tuples** in Python:

- **Lists** are **mutable** you can change, add, or remove items.
- **Tuples** are **immutable** once created, they can’t be changed.
- Lists use **square brackets**: `[1, 2, 3]`
- Tuples use **parentheses**: `(1, 2, 3)`
- Tuples are generally **faster** and use **less memory** than lists.

Use **lists** when your data might change, and **tuples** when it should stay the same.

4. Describe how dictionaries store data.

Answer Dictionaries in Python store data as key-value pairs.

Each key is unique and points to a value. It’s like a real dictionary where a word (key) maps to its meaning (value).

5. Why might you use a set instead of a list in Python?

Answer 1.Avoid duplicates – sets automatically remove repeated items.
2.Check membership quickly – checking if an item exists is faster in sets.
3.Do set operations – like union, intersection, and difference.

6. What is a string in Python, and how is it different from a list?

Answer A string in Python is a sequence of characters, like words or sentences. A list is a collection of items, which can be numbers, strings, or other types.

Key Differences:
String: "hello" – made only of characters.
List: ["h", "e", "l", "l", "o"] – can hold different types and be changed.

Also, strings are immutable (can’t be changed), while lists are mutable (can be changed).

7. How do tuples ensure data integrity in Python?

Answer Tuples ensure data integrity in Python because they are immutable—once created, their values cannot be changed.

This means:

1. No accidental updates
2. Safer to use for fixed data
3. Ideal for storing constants or keys

By locking the data in place, tuples help keep it reliable and secure.

8.  What is a hash table, and how does it relate to dictionaries in Python?

Answer A hash table is a data structure that stores key-value pairs and uses a hash function to quickly find the location of a value based on its key.

In Python, a dictionary is built using a hash table under the hood. So when you do something like:

my_dict = {'apple': 5, 'banana': 3}

Python uses a hash table to store and retrieve 'apple' and 'banana' efficiently. That’s why looking up values in a dictionary is super fast!

9.  Can lists contain different data types in Python?

Answer Python lists can contain different data types.

For example: my_list = [42, "hello", 3.14, True]
This list has an integer, a string, a float, and a boolean—all in one list!

10. Explain why strings are immutable in Python.

Answer Strings are immutable in Python because once a string is created, it cannot be changed. This helps make programs safer and faster—especially when strings are shared or used in loops. If you want a different string, Python creates a new one instead of changing the old one.

11.  What advantages do dictionaries offer over lists for certain tasks?

Asnwer Dictionaries are better than lists when you need to:

1. Find things quickly using a key
2. Use meaningful names instead of numbers
3. Update values easily
4. Store related data together

They’re perfect for tasks like storing user info or counting items

12. Describe a scenario where using a tuple would be preferable over a list.

Answer tuple is preferable when you want to store data that should not change.Here, the coordinates are fixed—you don’t want them accidentally modified. Tuples are immutable, so they help protect your data.

13.  How do sets handle duplicate values in Python?

Answer Sets in Python automatically remove duplicates. If you add the same value more than once, it only keeps one copy.

14.  How does the “in” keyword work differently for lists and dictionaries?

Answer
1. In a list, the in keyword checks if a value is in the list.
2. In a dictionary, in checks if a key is present—not the value.

So, in looks for values in lists, but for keys in dictionaries.

15. Can you modify the elements of a tuple? Explain why or why not.

Answer No, one can't modify elements of a tuple because tuples are immutable. That means once a tuple is created, its values cannot be changed. This helps keep data safe and fixed.

16. What is a nested dictionary, and give an example of its use case?

Answer A nested dictionary is a dictionary inside another dictionary. It helps organize complex data.

Example-students = {
    '101': {'name': 'Soumeya', 'age': 20},
    '102': {'name': 'Aarav', 'age': 22}
}

can easily access details like students['101']['name'] → 'Soumeya'.

17. Describe the time complexity of accessing elements in a dictionary.

Answer Accessing elements in a dictionary is **O(1)** time complexity on average. That means it's **very fast**, no matter how big the dictionary is—thanks to how hash tables work behind the scenes.                    

18.  In what situations are lists preferred over dictionaries?

Answer Accessing elements in a dictionary is O(1) time complexity on average. That means it's very fast, no matter how big the dictionary is—thanks to how hash tables work behind the scenes.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Answer Dictionaries are considered unordered because they don’t keep items in a fixed sequence like lists do. Instead, they store data by keys using a hash table.

1. You can’t rely on the order of items.
2. But you can quickly find a value using its key—fast and efficient!

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Answer A list retrieves data by position (index), like my_list[0] for the first item.

A dictionary retrieves data by key, like my_dict['name'] for a specific value.

So, lists use numbers to find items, while dictionaries use names (keys).

 Practical Questions

1.  Write a code to create a string with your name and print it

In [1]:
my_name = "Soumeya"
print(my_name)

Soumeya

2. Write a code to find the length of the string "Hello World"

In [8]:
text = "Hello World"
lenght = len(text)
print(lenght)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [9]:
text = "Python Programming"
sliced = text[: 3]
print(sliced)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [10]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple.

In [11]:
text = "I like apple"
new_text = text.replace("apple","orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [13]:
number_list =[1,2,3,4,5]
print(number_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [14]:
numbers = [1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [16]:
numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [19]:
letter = ['a', 'b', 'c', 'd']
second_letter = letter[1]
print(second_letter)

b

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [20]:
numbers = [10, 20, 30, 40, 50]
reversed_list = numbers[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [22]:
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [23]:
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [24]:
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print(minimum)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [25]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [26]:
fruits = ('apple', 'banana', 'cherry')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [27]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [28]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [29]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [30]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [31]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1 & set2
print(intersection)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [32]:
person = {
    "name": "Soumeya",
    "age": 25,
    "city": "Panvel"
}
print(person)

{'name': 'Soumeya', 'age': 25, 'city': 'Panvel'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [33]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [34]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [ ]:
24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [35]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [36]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists in the dictionary.

In [ ]:
26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [37]:
# Creating a list
my_list = [1, 2, 3]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Soumeya', 'age': 25, 'city': 'Panvel'}

# Printing them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Soumeya', 'age': 25, 'city': 'Panvel'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [38]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print(random_numbers)

[16, 22, 29, 48, 82]

28. Write a code to create a list with strings and print the element at the third index

In [39]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(my_list[3])

date

29.  Write a code to combine two dictionaries into one and print the result

In [40]:
dict1 = {'name': 'Soumeya', 'age': 25}
dict2 = {'city': 'Panvel', 'country': 'India'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print(combined_dict)

{'name': 'Soumeya', 'age': 25, 'city': 'Panvel', 'country': 'India'}

30. Write a code to convert a list of strings into a set

In [41]:
my_list = ['apple', 'banana', 'cherry', 'apple']
my_set = set(my_list)
print(my_set)

{'apple', 'cherry', 'banana'}